{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Los Pollos Hermanos</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
  </head>
  <body>
    <header class="header">
      <h1 class="header_title">Los <span>Pollos</span> Hermanos</h1>
      <ul class="header_menus">
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'menus' %}">Menus</a></li>
        <li><a href="{% url 'about' %}">About</a></li>
        <li><a href="{% url 'order' %}">Order</a></li>
        <li><a href="{% url 'contact' %}">Contact</a></li>
      </ul>
    </header>
    {% block content %}{% endblock %}
  </body>
</html>
