{% extends 'base.html' %} {% load static %} {% include "about.html" %} {% block content %}
<section id="home" class="section-home section-menu">
  <div class="section-home_content">
    <h1 class="section-home_title">Welcome to <span>Los Pollos Hermanos</span>, where Flavors lives!</h1>
    <div class="section-home_buttons">
      <a href="#contact" class="primary-button">Contact us</a>
      <a href="#menus" class="light-button hover-icon-right">
        Explore
        <i class="bx bx-right-arrow-alt"></i>
      </a>
    </div>
  </div>
  <img class="section-home_images" src="{% static 'img/logo-baru-ji.png' %}" alt="Gus Fring" />
</section>
<section class="section-menus section-menu" id="menus">
  <h1 class="section-title">Our <span>Menus</span></h1>
  <p class="section-desc">Kami menyediakan makanan khas Albuquerque yang mengutamakan cita rasa yang penuh dengan rempah - rempah</p>
  <div class="section-menus__cards">
    <!--CARD 1-->
    <div class="section-menus__card">
      <img class="section-menus__card-image" src="{% static 'img/Produk-Combos.png' %}" alt="Meth" />
      <h3 class="section-menus__card-title">Combos</h3>
      <div class="section-menus__card-rating">
        <i class="bx bxs-star"></i>
        <i class="bx bxs-star"></i>
        <i class="bx bxs-star"></i>
        <i class="bx bxs-star"></i>
        <span>5.1</span>
      </div>
      <div class="section-menus__card-footer">
        <h2 class="section-menus__card-price">Order here</h2>
        <a href="{% url 'order' %}" style="text-decoration: none; color: inherit">
          <button class="section-menus__card-section--buy primary-button">
            <i class="bx bxs-cart"></i>
          </button>
        </a>
      </div>
    </div>
    <div class="section-menus__card">
      <img class="section-menus__card-image" src="{% static 'img/Feed-The-Fam.png' %}" alt="Meth" />
      <h3 class="section-menus__card-title">Feed The Fam</h3>
      <div class="section-menus__card-rating">
        <i class="bx bxs-star"></i>
        <i class="bx bxs-star"></i>
        <i class="bx bxs-star"></i>
        <i class="bx bxs-star"></i>
        <span>5.1</span>
      </div>
      <div class="section-menus__card-footer">
        <h2 class="section-menus__card-price">Order here</h2>
        <a href="{% url 'order' %}" style="text-decoration: none; color: inherit">
          <button class="section-menus__card-section--buy primary-button">
            <i class="bx bxs-cart"></i>
          </button>
        </a>
      </div>
    </div>
    <div class="section-menus__card">
      <img class="section-menus__card-image" src="{% static 'img/kentang-produk.png' %}" alt="Meth" />
      <h3 class="section-menus__card-title">French Fries</h3>
      <div class="section-menus__card-rating">
        <i class="bx bxs-star"></i>
        <i class="bx bxs-star"></i>
        <i class="bx bxs-star"></i>
        <i class="bx bxs-star"></i>
        <span>5.1</span>
      </div>
      <div class="section-menus__card-footer">
        <h2 class="section-menus__card-price">Order here</h2>
        <a href="{% url 'order' %}" style="text-decoration: none; color: inherit">
          <button class="section-menus__card-section--buy primary-button">
            <i class="bx bxs-cart"></i>
          </button>
        </a>
      </div>
    </div>
  </div>
</section>
<!--SECTION: ABOUT-->
<section id="about" class="section-about section-menu">
  <img class="section-about__image" src="{% static 'img/mike.png' %}" alt="" />
  <div class="section-about__content">
    <h1 class="section-title">About <span> Us</span></h1>
    <p class="section-desc">
      Restoran kami sudah berdiri sejak 2008, dan sudah dipercaya oleh banyak kalangan seperti Keluarga Salamanca, Tuan Putih, Paman Hank Dan masih banyak lagi, El Sheva Ar-Frig adalah salah satu Dalang dibalik terciptanya Restoran ini,
      saat beliau sedang duduk dibangku kuliah dia sangat suka membeli Ayam oleh orang yang bernama 'El Nanda As-Salamanca' namun 'El nanda As-Salamanca' berjualan dikawasan 'El Sheva Ar-Frig' terjadilah negosiasi, El Sheva membeli saham
      dari El nanda dengan syarat El Sheva wajib dan rutin membuat blue mint dengan tingkat kemurnian 99.98%, 'El Arif Pinkman' adalah pembuat blue mint handal yang membuat kesepakatan itu terjadi.
    </p>

    <div class="section-about__stats">
      <div class="section-about__stat">
        <h1 class="section-about__stat-number">17+</h1>
        <div class="section-about__stat-text">
          <span class="section-about__stat-desc">Years Of</span>
          <h3 class="section-about__stat-title">EXPEREINCE</h3>
        </div>
      </div>
      <div class="section-about__stat">
        <h1 class="section-about__stat-number">15</h1>
        <div class="section-about__stat-text">
          <span class="section-about__stat-desc">Best Food Of</span>
          <h3 class="section-about__stat-title">CONDET</h3>
        </div>
      </div>
    </div>

    <button class="primary-button hover-icon-right">
      Learn More
      <i class="bx bx-right-arrow-alt"></i>
    </button>
  </div>
  <img class="section-about__image-background-1" src="{% static 'img/burger-about.png' %}" />
  <img class="section-about__image-background-2" src="{% static 'img/chiken-about.png' %}" />
</section>
<!--SECTION: END ABOUT-->
<section class="section-services section-menu" id="service">
  <h1 class="section-title">Our <span>Service</span></h1>
  <p class="section-desc">Kami menyediakan beberapa layanan yang dapat ditemukan di Restoran kami</p>
  <div class="section-services_cards">
    <div class="section-services_card">
      <div class="section-services_card-icon">
        <i class="bx bx-bowl-hot"></i>
      </div>
      <h1 class="section-services_card-title">Dine in Service</h1>
      <p>Makan Ditempat dengan pemandangan kota Albuquerque yang indah, dibalik wajah yang indah menyimpan luka yang dalam</p>
    </div>
    <div class="section-services_card">
      <div class="section-services_card-icon">
        <i class="bx bx-package"></i>
      </div>
      <h1 class="section-services_card-title">Take Away & Delivery</h1>
      <p>Mau dibawa Pulang Atau Kami antar, dapatkan diskon 10,99% jika anda membawa pulang makanan anda</p>
    </div>
    <div class="section-services_card">
      <div class="section-services_card-icon">
        <i class="bx bx-calendar-event"></i>
      </div>
      <h1 class="section-services_card-title">Event & Catering</h1>
      <p>Acara atau Catering bukan masalah untuk kami, hubungi kami lewat E-mail !</p>
    </div>
  </div>
</section>
<!--SECTION: END SERVICES-->

<!--SECTION: CONTACT-->
<section class="section-contact section-menu" id="contact">
  <div class="section-title__info">
    <h1 class="section-title">Contact<span>Us</span></h1>
    <p class="section-desc">Hubungi aku jika kau butuh, aku akan selalu menunggu kabar baik buruk mu.</p>
    <div class="section-contact__info-items">
      <div class="section-contact__info-item">
        <div class="section-contact__info-item-icon">
          <i class="bx bxs-location-plus"></i>
        </div>
        <a href="#" class="section-contact__info-item-link"> Los Pollos Hermanos, Condet Raya, East Jakarta, 1337,Indonesia </a>
      </div>
      <div class="section-contact__info-item">
        <div class="section-contact__info-item-icon">
          <i class="bx bxl-instagram"></i>
        </div>
        <a href="#" class="section-contact__info-item-link">Developer @satuu.st</a>
      </div>
      <div class="section-contact__info-item">
        <div class="section-contact__info-item-icon">
          <i class="bx bxl-twitter"></i>
        </div>
        <a href="#" class="section-contact__info-item-link">info.pollos</a>
      </div>
    </div>
  </div>
  <form method="post" action="{% url 'contact_send' %}" class="section-contact__form">
    {% csrf_token %}

    <input type="text" name="name" class="text-field" placeholder="Your name" required />
    <input type="email" name="email" class="text-field" placeholder="Input Email Here" required />
    <input type="tel" name="phone" class="text-field" placeholder="Nomor WA" required />
    <textarea name="message" class="text-field text-field--textarea" placeholder="Message" rows="5" required></textarea>

    <button type="submit" class="section-contact__form-button secondary-button">Send Message</button>
  </form>
</section>
<!--SECTION: END CONTACT-->

<!--FOOTER-->
<footer class="footer">
  <h1 class="footer__title">Los <span> Pollos</span> Hermanos</h1>
  <ul class="footer__menus">
    <li class="footer__menus-menu"><a href="#home">Home</a></li>
    <li class="footer__menus-menu"><a href="#menus">Menus</a></li>
    <li class="footer__menus-menu"><a href="#about">About</a></li>
    <li class="footer__menus-menu"><a href="#service">Contact</a></li>
    <li class="footer__menus-menu"><a href="#contact">Contact</a></li>
  </ul>
  <div class="footer__divider"></div>
  <p class="footer__copyright">&copy; 2025 Pollos Hermanos All rights reserved. | Developt by jipang</p>
</footer>
{% endblock %}
