{% load static %}
<section id="about" class="section-about section-menu">
  <img class="section-about__image" src="{% static 'img/mike.png' %}" alt="" />

  <div class="section-about__content">
    <h1 class="section-title">About <span> Us</span></h1>
    <p class="section-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur illum, minima nulla officiis at optio facere quasi aliquid a ipsum hic quam praesentium quidem illo repellendus deserunt? Laudantium, harum corporis?</p>

    <div class="section-about__stats">
      <div class="section-about__stat">
        <h1 class="section-about__stat-number">3+</h1>
        <div class="section-about__stat-text">
          <span class="section-about__stat-desc">Years Of</span>
          <h3 class="section-about__stat-title">EXPEREINCE</h3>
        </div>
      </div>

      <div class="section-about__stat">
        <h1 class="section-about__stat-number">15</h1>
        <div class="section-about__stat-text">
          <span class="section-about__stat-desc">Best Food Of</span>
          <h3 class="section-about__stat-title">CONDET</h3>
        </div>
      </div>
    </div>

    <button class="primary-button hover-icon-right">
      Learn More
      <i class="bx bx-right-arrow-alt"></i>
    </button>
  </div>

  <img class="section-about__image-background-1" src="{% static 'img/burger-about.png' %}">
  <img class="section-about__image-background-2" src="{% static 'img/chiken-about.png' %}">
</section>
